{% extends 'sites/table.html' %}
{% block header %}
<h1>Summary</h1>
{% for nav in summary_nav %}
    <a href="{{nav.path}}">
        <button type="button"
                class="btn btn-primary {% if request.path in nav.paths %}active{% endif %}">{{nav.name}}</button>
    </a>
{% endfor %}
{% endblock %}

{% block table_body %}
    {% for site in sites %}
    <tr>
        <td>{{ site.name }}</td>
        <td>{{ site.a_value|floatformat:2 }}</td>
        <td>{{ site.b_value|floatformat:2 }}</td>
    </tr>
    {% endfor %}
{% endblock %}
